@charset "utf-8";
*{
	padding: 0;
	margin: 0;
}
body{
	background-color: #7f8c8d;
	color: #333;
	font-family: sans-serif;
}
.wrapp{
	width: 960px;
	margin: 30px auto;
	background-color: #fff;
	padding: 30px;
	box-shadow: 0px 0px 25px rgba(0,0,0,0.7);
}
h1{
	text-align: center;
}
.list{
	margin-top: 15px;
}
.list li{
	list-style-type: none;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #f1f1f1;
	cursor: pointer;
	position: relative;
}
.list li:after{
	position: absolute;
	top: 0;
	right: 0;
	font-size: 20px;
	color: #777;
}
.list li.close:after{
	content: '\25BC';
}
.list li.open:after{
	content: '\25B2';
}
.list li.close .table-data{
	height: 0;
	overflow: hidden;
}
.list li.open .table-data{
	padding-top: 7px;
	height: auto;
	overflow: hidden;
}
.list .table-data tr td:first-child, .list .table-data tr th:first-child{
	width: 15%;
}
.paginate{
	text-align: center;
}
.paginate li{
	display: inline-block;
	margin-right: 7px;
}
.paginate li a{
	color: #2980b9;
}
.paginate li a.active{
	text-decoration: none;
}